/* Google font(s) */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* Variabler */
:root {
    --beige: #FEFAE0;
    --roed:#9A031E;
    --orange:#E36414;
    --gul:#F7B538;
    --patrol:#0A5E5B;
    --lilla: #5F0F40;
  }
 
 /* forside redigering */
 body{
    background-color: var(--beige); 
    margin: 0;
 }


 /* menu redigering */

  
  .menudropdown a {
    text-align: center;
    display: inline;
    color: var(--roed);
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family:'darker grotesque', sans-serif;
    text-decoration: none;
    font-weight:500;
    
  }
  
  /* Farveskift ved hover på menu */
  .menudropdown a:hover {
    color: var(--orange);
  }
  
  /* Farveskift placering på den aktuelle menu */
  .menudropdown a.active {
    color: var(--orange);
  }
  
  /* menu redigering */
  .menudropdown li{
    list-style-type: none;
  }

  .menudropdown {
    overflow: hidden;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-left: 0;
  }

/* Dropdown redigering */
.dropdowncontent{
  display: none;
  padding-left: 10px;
}

.dropdown:hover .dropdowncontent{
  display: block;
  position: absolute;
}

.dropdowncontent a{
  font-size: 18px;
}

/* Redigering af forsiden */
  .forside{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--lilla);
    padding-right: 1000px;
    padding-top: 30px;
    padding-left: 50px;
}

#kollegieliv{
    padding-top: 70px;
    padding-left: 40px;
    font-size: 150px;
    text-align: center;
    margin-top: 50px;
    line-height: 140px;
}


/* Grafik redigering */
#grafik{
    height: 500px;
    width: auto;
    text-align: left;
    padding-bottom: 20px;
}

/* Q&A redigering */
.delto{
    background-color: var(--gul);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--orange);
    font-size: 150px;
}

#spoergsmaal{
margin-bottom: 0;
margin-top: 0;
}

/* footer redigering */
.footer{
    font-family:'darker grotesque', sans-serif;
    font-weight:lighter;
    color:var(--beige);
    background-color: var(--lilla);
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    
}

.footer ul li:nth-child(1){
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
    font-size: 15px;
}

.footer ul li{
    list-style-type: none;
}


