/* Google font(s) */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* Variabler */
:root {
    --beige: #FEFAE0;
    --roed:#9A031E;
    --orange:#E36414;
    --gul:#F7B538;
    --patrol:#0A5E5B;
    --lilla: #5F0F40;
  }
 
 /* forside redigering */
 body{
    background-color: var(--beige); 
    margin: 0;
 }


 /* menu redigering */
  .menudropdown a {
    text-align: center;
    display: inline;
    color: var(--roed);
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family:'darker grotesque', sans-serif;
    text-decoration: none;
    font-weight:500;
  }
  
  .menudropdown a:hover {
    color: var(--orange);
  }
  
  .menudropdown li{
    list-style-type: none;
  }

  .menudropdown {
    overflow: hidden;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-left: 0;
  }

.dropdowncontent{
  display: none;
  padding-left: 10px;
}

.dropdown:hover .dropdowncontent{
  display: block;
  position: absolute;
}

.dropdowncontent a{
  font-size: 18px;
}

/* overskift redigering */
#indretningoverskift{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 180px;
  color: var(--gul);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* billeder redigering */
.billeder{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  gap: 20px;
}

#pic1,
#pic2,
#pic3,
#pic4{
  width: 250px;
  height: auto;
}

#pic1:hover,
#pic2:hover,
#pic3:hover,
#pic4:hover{
  transform: scale(1.1);
  transition: transform .6s;
  width: 260px;
  height: 260px;
}


/* mellem overskifter redigering */
#overskrifter{
  font-family: darker grotesque, sans-serif;
  color: var(--roed);
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center
}

#broedtekst{
  font-family: darker grotesque, sans-serif;
  color: var(--patrol);
  font-size: 16px;
  font-weight: 500;
  max-width: 250px;
  margin-bottom: 40px;
  text-align: center;
}


/* footer redigering */
.footer{
    font-family:'darker grotesque', sans-serif;
    font-weight:lighter;
    color:var(--beige);
    background-color: var(--lilla);
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
}

.footer ul li:nth-child(1){
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
    font-size: 15px;
}

.footer ul li{
    list-style-type: none;
}


